mixin brouse-by-category 
    div.categoryes

            h1.categoryes__title-text Browse by category

                div.categoryes__img-box
                    +category-item 
                    +category-item('/public/images/brouse-by-category/brouse_by_category_12.png', 'Industrial', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_11.png', 'Movie sounds', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_10.png', 'Animal', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_9.png', 'People', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_2.png', 'Vehicles', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_8.png', 'Sound designs', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_7.png', 'Emergency', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_6.png', 'Bell', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_5.png', 'Nature', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_4.png', 'Cartoon', '/projects')
                    +category-item('/public/images/brouse-by-category/brouse_by_category_3.png', 'Horror', '/projects')
                a.categoryes__see-all-text(href="#") See all category
