mixin brouse-by-category 
    div.categoryes

            h1.categoryes__title-text Browse by category

                div.categoryes__img-box
                    +category-item 
                a.categoryes__see-all-text(href="#") See all category
