mixin download-sound 
    div.download
        p.download__title-text Download sound effects for your project
        p.download__description-text Find the right plan for you

        div.download__card-box
            div.download__basic-card
                p.download__card-title-text Basic
                p.download__description-text Download any royalty-free sound effects
                p.download__card-subtitle-text.download__free-margin Free
                div.download__basic-button Get started

            div.download__premium-card
                p.download__card-title-text Premium
                p.download__description-text Download premium sound effects and use them for any business purpose
                p.download__card-subtitle-text Start from $12/month
                div.download__premium-button Get started

        p.download__bottom-text Join premium with 434,849 creators.
