+Popup.j-example-popup-two( title='Title of popup block')
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae, doloremque dolorum, ea eaque enim ex itaque labore magnam neque nihil non officia perferendis, quae quod repellat reprehenderit saepe soluta!

