mixin brouse-by-category 
    div.categoryes

            h1.categoryes__title-text Browse by category

                div.categoryes__img-box
                    a(href="/project")
                        div(href="#").categoryes__item
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_13.png")
                            div.categoryes__img-text Musical
                    a(href="/project")
                        div(href="#").categoryes__item
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_12.png")
                            div.categoryes__img-text Industrial
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_11.png")
                            div.categoryes__img-text Movie sounds
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_10.png")
                            div.categoryes__img-text Animal
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_9.png")
                            div.categoryes__img-text People
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_2.png")
                            div.categoryes__img-text Vehicles
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_8.png")
                            div.categoryes__img-text Sound designs
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_7.png")
                            div.categoryes__img-text Emergency
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_6.png")
                            div.categoryes__img-text Bell
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_5.png")
                            div.categoryes__img-text Nature
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_4.png")
                            div.categoryes__img-text Cartoon
                    a(href="/project")
                        div.categoryes__item(href="#")
                            img.categoryes__img(src="/public/images/brouse-by-category/brouse_by_category_3.png")
                            div.categoryes__img-text Horror

                a.categoryes__see-all-text(href="#") See all category
