mixin PopupBlock
    section.popup-block.j-popup-block
        
        .popup-block__actions
            .popup-block__button
                +Button.j-example-popup-button(label='Login')
        include components/example-popup/example-popup
        include components/example-popup-two/example-popup-two
