+Popup.j-example-popup()
 
          .modal__content
               p.modal__login-title-text Login
               .modal__img-container
                    img.modal__login-icons(src='/public/images/header/google.svg')
                    img.modal__login-icons(src='/public/images/header/facebook.svg')
                    img.modal__login-icons(src='/public/images/header/twitter.svg')
               p.modal__use-email-text or use your email
               .modal__login-form
                              p.modal__email-password-text Email
                              input.modal__email-password-container(name='email' type='text' autocomplete='given-name' placeholder='Email')
                              p.modal__email-password-text Password
                              input.modal__email-password-container(name='password' type='text' autocomplete='current-password' placeholder='Password')
                              label
                                   input(type='checkbox' name='remember') 
                                   p.modal__email-password-text.remember-margin Remember me
                              button.modal__login-button-modal Login
               a.modal__sign-up-text(href='#') or Sing Up
               a.modal__transparent-text(href='#') Forgot password?



