+Popup.j-example-popup()
 
          .modal__content
               div.modal__login-title-text Login
               .modal__img-container
                    a(href="https://www.google.ru/?hl=ru")
                         img.modal__login-icons(src='/public/images/header/google.svg')
                    a(href="https://www.facebook.com/?locale=ru_RU")
                         img.modal__login-icons(src='/public/images/header/facebook.svg')
                    a(href="https://twitter.com/")
                         img.modal__login-icons(src='/public/images/header/twitter.svg')
               div.modal__use-email-text or use your email
               form.modal__login-form
                              div.modal__email-password-text Email
                              input.modal__email-password-container(name='email' type='text' autocomplete='given-name' placeholder='Email')
                              div.modal__email-password-text Password
                              input.modal__email-password-container(name='password' type='text' autocomplete='current-password' placeholder='Password')
                              label
                                   input(type='checkbox' name='remember') 
                                   div.modal__email-password-text.remember-margin Remember me
                              button.modal__login-button-modal Login
               a.modal__sign-up-text(href='#') or Sing Up
               a.modal__transparent-text(href='#') Forgot password?



