mixin music-player
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css")
    .music-player
            .music-player__title-text Best sound effects for youtube videos

            .music-player__tab-text.tab
                .music-player__tab-container
                    .music-player__tab-header
                        .tab-btn.tab-active All
                        .tab-btn Jumpscare
                        .tab-btn Mellow
                        .tab-btn Happines
                        .tab-btn Ambience
                        .tab-btn Zonk
                    button
                        img.filter__button.filter__open(src="/public/images/music-img/filter_mobile.svg")
                    button
                        img.filter__button-tablet.filter__open(src="/public/images/music-img/filter_tablet.svg")
                    button
                        img.filter__button-desktop.filter__open(src="/public/images/music-img/filter_desctop.svg")

                .music-player__tab-content.active
                    +music-player-song
                    +music-player-song
                .music-player__tab-content
                    +music-player-song
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                    +music-player-song
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                    +music-player-song
                    +music-player-song
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                    +music-player-song
                    +music-player-song
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song
                .music-player__tab-content 
                    +music-player-song

            +filter
            a.music-link-text(href="#") See all sound effects

       


