mixin download-sound 
    div.download
        div.download__title-text Download sound effects for your project
        div.download__description-text Find the right plan for you

        div.download__card-box
            div.download__basic-card
                div.download__card-title-text Basic
                div.download__description-text Download any royalty-free sound effects
                div.download__card-subtitle-text.download__free-margin Free
                button.download__basic-button Get started

            div.download__premium-card
                div.download__card-title-text Premium
                div.download__description-text Download premium sound effects and use them for any business purpose
                div.download__card-subtitle-text Start from $12/month
                button.download__premium-button Get started

        div.download__bottom-text Join premium with 434,849 creators.
