mixin why-us 
    div.why-us
        div.why-us__title-text-block
            h2.why-us__yellow-text WHY US? 
            h1.why-us__title-text We are provide the best quality sound effects without copyright.

        div.why-us__text-box
            div.why-us__text-block
                img(src="/public/images/why-us/icon-primary_1.svg")
                h3.why-us__label-text 1.203.322 Customer satisfied
                p.why-us__description-text We've helped more than 1 million customers find best sound effects

            div.why-us__text-block
                img(src="/public/images/why-us/icon-primary_2.svg")
                h3.why-us__label-text Royalty-free
                p.why-us__description-text Just download and use the sound for your videos without royalty

            div.why-us__text-block
                img(src="/public/images/why-us/icon-primary_3.svg")
                h3.why-us__label-text Provide proper sounds
                p.why-us__description-text We just provide sounds with the best quality for customers

            div.why-us__text-block
                img(src="/public/images/why-us/icon-primary.svg")
                h3.why-us__label-text 650.654 Sounds
                p.why-us__description-text More than 600 thousand high quality to download. Still counting
