mixin testimonials 
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")


    .experiens
        .experiens__title-block
            div.experiens__yellow-title-text TESTIMONIALS
            h1.experiens__title-text Hear good experiences from our customers
        +swiper-slider 




