include components/index
mixin Controller
        header.header.j-header
            //- j-header-size считает высоту шапки
            .header__wrapper.j-header-size
                .header__container.container
                    .header__logo
                        +HeaderLogo
                    .header__burger
                        +Burger
                    nav.header__nav
                        +HeaderNavigation
            .header__drop.j-drop-menu
                +HeaderDropMenu
        div.header__search
            h1.header__title-text Free download sound effects without copyright
            h2.header__title-text-gray Download free copyright sound effect for your YouTube video and any use.
            div.header__search-line.search
                    form.search__input
                        img(src="/public/images/header/union.svg" alt="Icon")
                        input(type="text" name="search" placeholder="Search sound effects")
                    div.header__search-text Try keyword: happy, funny, natural, horror, jumpscare and more 
            div.header__bottom-text
                    | 650.654 Available Sounds. Library Updated Weekly.
                    a.header__bottom-text(href="") See popular sounds

