extends  @shared/layout/default/default
include @widgets/index/modules/production-house/production-house
include @widgets/index/modules/music-player/music-player
include @widgets/index/modules/brouse-by-category/brouse-by-category
include @widgets/index/modules/why-us/why-us
include @widgets/index/modules/download-sound/download-sound
include @widgets/index/modules/testimonials/testimonials

block variables
  -
    const title = 'Welcome to Start Template'
    const breadcrumbs = ['breadcrumbs', 'index']
    
block content
  +production
  +music-player
  +brouse-by-category
  +why-us
  +download-sound
  +testimonials


