// blocks 
.experiens{
justify-content: center;
padding: 3.125rem 1.25rem 4rem;

text-align: center;

}

.experiens__title-block{
margin: 0 0 2.5rem;

text-align: center;

}

.experiens__customers-block {
    position: relative;

    display: flex; /* Используйте Flexbox */
    flex-wrap: wrap; /* Позволяем элементам переноситься на новую строку при нехватке места */
    gap: 1.875rem;
    align-items: center;
    justify-content: center;
    max-width: 60.9375rem; /* Установите желаемую максимальную ширину */

    margin: 0 auto 1rem; /* Центрируйте контейнер */

    text-align: center;

}

.experiens__customer-section {
    display: none; /* Изначально скрываем все секции */

    transform: translateY(20px);

    opacity: 0;

    transition: opacity 0.5s ease, transform 0.5s ease;
}

.experiens__customer-section.active {
    transform: translateY(0); /* Возвращаем к исходной позиции */

    opacity: 1; /* Делаем секцию видимой */

}

.button {
    position: relative; /* Устанавливаем относительное позиционирование для кнопки */

    width: 8px; /* Ширина кнопки (10px) */
    height: 8px; /* Высота кнопки (10px) */
    margin: 0 5px; /* Отступы между кнопками */


    font-size: 12px; /* Уменьшаем размер шрифта для более компактного вида */

    background-color: transparent; /* Делаем фоновый цвет прозрачным */

    border: none; /* Убираем рамку */
    border-radius: 50%; /* Делаем кнопку круглой */

    outline: none; /* Убираем подсветку (обводку) кнопки */
   
    cursor: pointer; /* Указываем, что кнопка кликабельна */
    
}

.button::after {
    position: absolute; /* Абсолютное позиционирование для псевдоэлемента */
    inset:0;

    z-index: 0; /* Установим z-index ниже, чем у текста */

    background-color: $title-light; /* Цвет внутреннего круга по умолчанию */

    border-radius: 50%; /* Делаем псевдоэлемент круглым */

    transition: background-color 0.3s; /* Плавный переход цвета */

    content: ""; /* Псевдоэлемент без содержимого */
    
}

.button.active::after {
    background-color: $description-light; /* Цвет внутреннего круга для активного состояния */
}

.button.active {
    position: relative; /* Устанавливаем относительное позиционирование для текста */
    z-index: 1;

    color: $description-light; /* Цвет текста кнопки */

    font-weight: bold; /* Увеличиваем толщину текста для активной кнопки */

 /* Текст будет выше псевдоэлемента */
}

.experiens__customer{
 justify-content: center;
 padding: 1rem ;

 text-align: center;

 border: 1px solid $title-light;
 border-radius: .5rem;


}

.show-experiens-desctop{
    display: none;
}

.show-experiens-tablet{
    display: none;
}

 // text
.experiens__title-text{
     @include font-style(600, 1.25rem, 1.875rem, $dark-blue );

     margin: 1.5rem 0;
}

.experiens__yellow-title-text{
    @include font-style(600, .875rem, .875rem, $brave-yellow);
}

.experiens__customer-card-text{
    @include font-style(500, .875rem, 1.5rem, $description-dark);

    margin: 0 0 1.3rem;
}

.experiens__customer-card-title-text{
    @include font-style(600, 1.125rem, 1.875rem, $dark-blue);
}

.experiens__customer-card-subtitle-text{
    @include font-style(500, .875rem, 1.5rem, $description-light);
}

@media(min-width:#{$br-tablet}px) {
    .experiens{
        padding: 3.125rem 1.25rem 4.2rem;
    }

    .show-experiens-tablet{
        display: block;
    }

    .experiens__customer{
        justify-content: center;
        margin: 1rem 1.5rem 1rem 2.5rem;
        padding: 1rem ;

        text-align: center;

        border: 1px solid $title-light;
        border-radius: .5rem;

       }

    .experiens__title-text{
        @include font-style(600, 1.5rem, 2.375rem, $dark-blue );
   }
}

@media(min-width:#{$br-desktop}px){
    .show-experiens-desctop{
        display: block;
    }

    .experiens {
        padding: 3.7rem 1.25rem 7.5rem;
    }

    .experiens__customer{
        margin: 1rem 1rem 0;
    }
  }