$pure-white: #FFF;
$pure-black: #000;
$dark-blue: #020D37;
$deep-blue: #0432DF;
$ligth-blue: #1B4BFF;
$deep-blue-saturat: #CDD6F9;
$brave-yellow: #F59E00;
$brave-yellow-sature: #FCE2B3;
$description-dark: #4C526A;
$description-light: #ACAFB8;
$dark-blue-menu: #030B26;
$title-light: #EEE;
$production-bk: #FAFAFA;
$blue-saturat: #020D3780