// ----------FONTS
$primary-font: 'Poppins', sans-serif;

/* ui-step */
$step: 4;

// ----------COLORS
$c-white: #FFF;
$c-black: #000;
$c-red: #f00;
$c-blue: #31BADE;
$c-green: #00B1A5;


/* ui-index */
$index-1: 1; // Для наползающих элементов в общем потоке
$index-2: 2; // Для наползающих элементов в общем потоке
$index-3: 3; // Для масок
$index-4: 4; // Для сайдбаров
$index-5: 5; // Для модалок
$index-6: 6; // Для элементов, перекрывающих все
