mixin production 
    div.production
        h1.production__title-text Trusted by top Youtuber and Production House

        div.production__image-container
            img.production__img-scale-sqare(src="/public/images/production/dudeperfect_1.svg")
            img.production__img-scale-sqare(src="/public/images/production/pewdiepie-logo_1.svg")
            img.production__img-scale-mrbeast(src="/public/images/production/mrbeast_1.svg")
            img.production__img-scale-sqare(src="/public/images/production/group_2.svg")
            img.production__img-scale-sith(src="/public/images/production/netflix_1.svg")
            img.production__img-scale-sith(src="/public/images/production/pixar-removebg-preview_1.svg")
            img.production__img-scale-sqare(src="/public/images/production/picky_picks.svg")
