mixin FooterLogo
    .footer-logo(href='/')
        img.footer-logo__iconimg(src="/public/images/header/logo-header.svg")
        p.footer-logo__label WavesCo is a platform for providing premium sound effects for Youtube videos, movies and many more.
        p.footer-logo__label WavesCo ©2021, All rights reserved