mixin swiper-slider 
    .swiper
            .swiper-wrapper
                .swiper-slide
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        p.experiens__customer-card-text WavesCo was a great choice for our team for film production, the quality is amazingly great.
                        img(src="/public/images/experiens/customer_1.svg" alt="Customer 1")
                        p.experiens__customer-card-title-text Edward Sann
                        p.experiens__customer-card-subtitle-text Head of Video editor at Netflix
                .swiper-slide
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        p.experiens__customer-card-text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                        img(src="/public/images/experiens/customer_2.svg" alt="Customer 2")
                        p.experiens__customer-card-title-text Anne Joyce
                        p.experiens__customer-card-subtitle-text Video editor at Dude Perfect
                .swiper-slide
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        p.experiens__customer-card-text Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.
                        img(src="/public/images/experiens/customer_3.svg" alt="Customer 3")
                        p.experiens__customer-card-title-text Ronn D.
                        p.experiens__customer-card-subtitle-text Video Editor at PewDiePie
                .swiper-slide
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        div.experiens__customer-card-text WavesCo was a great choice for our team for film production, the quality is amazingly great.
                        img(src="/public/images/experiens/customer_1.svg" alt="Customer 1")
                        div.experiens__customer-card-title-text Edward Sann
                        div.experiens__customer-card-subtitle-text Head of Video editor at Netflix
                .swiper-slide   
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        div.experiens__customer-card-text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                        img(src="/public/images/experiens/customer_2.svg" alt="Customer 2")
                        div.experiens__customer-card-title-text Anne Joyce
                        div.experiens__customer-card-subtitle-text Video editor at Dude Perfect
                .swiper-slide
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        p.experiens__customer-card-text Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.
                        img(src="/public/images/experiens/customer_3.svg" alt="Customer 3")
                        p.experiens__customer-card-title-text Ronn D.
                        p.experiens__customer-card-subtitle-text Video Editor at PewDiePie
                .swiper-slide
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        p.experiens__customer-card-text WavesCo was a great choice for our team for film production, the quality is amazingly great.
                        img(src="/public/images/experiens/customer_1.svg" alt="Customer 1")
                        p.experiens__customer-card-title-text Edward Sann
                        p.experiens__customer-card-subtitle-text Head of Video editor at Netflix
                .swiper-slide  
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        p.experiens__customer-card-text The sounds from WavesCo is great and it really helps our team to save time and production costs.
                        img(src="/public/images/experiens/customer_2.svg" alt="Customer 2")
                        p.experiens__customer-card-title-text Anne Joyce
                        p.experiens__customer-card-subtitle-text Video editor at Dude Perfect
                .swiper-slide  
                    .experiens__customer
                        img(src="/public/images/experiens/ri_double-quotes-r.svg" alt="Quote")
                        div.experiens__customer-card-text Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.
                        img(src="/public/images/experiens/customer_3.svg" alt="Customer 3")
                        div.experiens__customer-card-title-text Ronn D.
                        div.experiens__customer-card-subtitle-text Video Editor at PewDiePie
                .swiper-scrollbar
            // Элемент для пагинации


            // Если нужны кнопки навигации   
            .swiper-pagination
