mixin category-item(imageSrc='/public/images/brouse-by-category/brouse_by_category_13.png', categoryName='Musical', categoryLink='/project')
  a(href=categoryLink)
    div.categoryes__item
      img.categoryes__img(src=imageSrc)
      div.categoryes__img-text= categoryName
