.checkbox {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  align-items: start;
  justify-content: left;

  &__target {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;

    border: 1px solid $color-blue;
    border-radius: 3px;

    cursor: pointer;

    appearance: none;

    &:checked::before {
      display: block;
      padding: 3px;

      background: $color-green;
      border-radius: 2px;

      content: '';
    }
  }

  &._error &__target {
    border-color: $color-red;
  }
}
